[submodule "modbus"]
	path = modbus
	url = https://github.com/xeedjr/freemodbus.git

[submodule "os"]
	path = os
	url = https://github.com/xeedjr/ChibiOS.git
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
